<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sp_deployment_tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sp_deployment_tool.Properties.Settings>
            <setting name="SavedServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPortNumber" serializeAs="String">
                <value />
            </setting>
        </sp_deployment_tool.Properties.Settings>
    </userSettings>
</configuration>